# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Django
*.sqlite3
# media/  # Temporarily enabled to deploy product images to Render
backend/staticfiles/
staticfiles/

# Node
node_modules/
frontend/node_modules/
payments/node_modules/

# React
build/
dist/
frontend/dist/
payments/dist/

# General
.DS_Store
.env
*.env
*.log

# VSCode
.vscode/
